spec/xsd/iec62325-451-6-outage_v4_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:dl="urn:ebix.eu:ProofOfConcept:1:0" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ebix.eu:ProofOfConcept:1:0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="Unavailability_MarketDocument" type="dl:Unavailability_MarketDocument" />
  <xs:simpleType name="ResourceID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ResourceID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ResourceID_String">
    <xs:simpleContent>
      <xs:extension base="dl:ResourceID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PsrType_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PsrType_String">
    <xs:restriction base="ecl:AssetTypeList" />
  </xs:simpleType>
  <xs:complexType name="Asset_RegisteredResource" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RegisteredResource">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ResourceID_String">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="asset_PSRType.psrType" type="dl:PsrType_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MktPSRType.psrType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="location.name" type="xs:string">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Position_Integer">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="999999" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Point" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="position" type="dl:Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Point.position">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Point.quantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="installed_Quantity.quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity.quantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PTDFDomain_Series" type="dl:PTDFDomain_Series" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Point.PTDFDomain_Series">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AreaID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#AreaID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#AreaID_String">
    <xs:simpleContent>
      <xs:extension base="dl:AreaID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PTDFDomain_Series" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Series">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="pTDF_Domain.mRID" type="dl:AreaID_String">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="pTDF_Domain.unavailableImportCapability_Quantity.quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity.quantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="pTDF_Domain.unavailableExportCapability_Quantity.quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Quantity.quantity">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReasonCode_String">
    <xs:restriction base="ecl:ReasonCodeTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReasonText_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Reason" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reason">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="dl:ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reason.code">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="dl:ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reason.text">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#YMDHM_DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ESMP_DateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="dl:YMDHM_DateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="dl:YMDHM_DateTime">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Period">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="resolution" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Period.resolution">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Point" type="dl:Point" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Period.Point">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BusinessKind_String">
    <xs:restriction base="ecl:BusinessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeasurementUnitKind_String">
    <xs:restriction base="ecl:UnitOfMeasureTypeList" />
  </xs:simpleType>
  <xs:simpleType name="CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#CurveType_String">
    <xs:restriction base="ecl:CurveTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMP_ActivePower-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ESMP_ActivePower">
    <xs:restriction base="xs:float">
      <xs:pattern value="([0-9]*\.?[0-9]*)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_ActivePower" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ESMP_ActivePower">
    <xs:simpleContent>
      <xs:extension base="dl:ESMP_ActivePower-base">
        <xs:attribute fixed="MAW" name="unit" type="ecl:UnitSymbol" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="businessType" type="dl:BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.businessType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="biddingZone_Domain.mRID" type="dl:AreaID_String">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="in_Domain.mRID" type="dl:AreaID_String">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="out_Domain.mRID" type="dl:AreaID_String">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="start_DateAndOrTime.date" type="xs:date" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateAndOrTime.date">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="start_DateAndOrTime.time" type="xs:time" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateAndOrTime.time">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end_DateAndOrTime.date" type="xs:date" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateAndOrTime.date">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end_DateAndOrTime.time" type="xs:time" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateAndOrTime.time">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="quantity_Measurement_Unit.name" type="dl:MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Unit.name">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="curveType" type="dl:CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.curveType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.mRID" type="dl:ResourceID_String">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.name" type="xs:string">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.location.name" type="xs:string">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.pSRType.psrType" type="dl:PsrType_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MktPSRType.psrType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.pSRType.powerSystemResources.mRID" type="dl:ResourceID_String">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.pSRType.powerSystemResources.name" type="xs:string">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="production_RegisteredResource.pSRType.powerSystemResources.nominalP" type="dl:ESMP_ActivePower">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asset_RegisteredResource" type="dl:Asset_RegisteredResource" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.Asset_RegisteredResource">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Available_Period" type="dl:Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.Available_Period">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindPowerFeedin_Period" type="dl:Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.WindPowerFeedin_Period">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reason" type="dl:Reason" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TimeSeries.Reason">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ESMPVersion_String">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MessageKind_String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ProcessKind_String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ESMP_DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PartyID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PartyID_String">
    <xs:simpleContent>
      <xs:extension base="dl:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketRoleKind_String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="Status_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status_String">
    <xs:restriction base="ecl:StatusTypeList" />
  </xs:simpleType>
  <xs:complexType name="Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="dl:Status_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.value">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Unavailability_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="revisionNumber" type="dl:ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Document.revisionNumber">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="dl:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Document.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="process.processType" type="dl:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Process.processType">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="dl:PartyID_String">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="dl:PartyID_String">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="unavailability_Time_Period.timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="docStatus" type="dl:Action_Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Document.docStatus">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeries" type="dl:TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketDocument.TimeSeries">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reason" type="dl:Reason" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MarketDocument.Reason">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>